/**
 * Declaring variables
 */
* {
    -fx-primary-color: #337653;
    -fx-primary-color-shade: #23523a;
}

/**
 * Style classes
 */
.text-white {
    -fx-text-fill: #ffffff;
    -fx-fill: #ffffff;
}

.title-home {
    -fx-font-size: 8em;
}

.panel-game {
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-border-radius: 10px;
    -fx-border-color: transparent;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.05), 1px, 0, 0, 1px);
    -fx-background-radius: 10px;
}

.panel-game-active {
    -fx-border-color: -fx-primary-color;
}

.panel-game:hover {
    -fx-opacity: 0.7;
}

.btn-game {
    -fx-pref-height: 60px;
    -fx-pref-width: 200px;
    -fx-font-size: 18px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}